/*
    Thanks to https://proto.io/freebies/onoff/
*/
.onoffswitch {
    position: relative; width: 78px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 36px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 45px; padding: 0; line-height: 45px;
    font-size: 20px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "✓";
    padding-left: 10px;
    background-color: #F1F5E2; color: #92C26D;
}
.onoffswitch-inner:after {
    content: "🗙";
    padding-right: 10px;
    background-color: #F7E4E4; color: #C46E6E;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 36px; margin: 4.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 29px;
    border: 2px solid #999999; border-radius: 36px;
    transition: all 0.15s ease-in 0.15s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}